<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="/assets/icon/brain.png">

    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input pattern='password'></ion-input>
      </ion-item>
  <ion-button expand="block" type="submit">Login</ion-button>
  <ion-button expand="block">Create Account</ion-button>
  </form>
</ion-content>
