<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--- TODO List!--->
  <ion-card (click)="navigatePlanner()" class="welcome-card animated fadeInDown">
    <ion-card-header>
      <ion-card-title>To-Do List</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
    <ion-list-header>
      To-Do List
    </ion-list-header>
    <ion-item *ngFor="let entry of toDoList">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
    </ion-card-content>
  </ion-card>

  <!--- Planner !--->
  <ion-card (click)="navigatePlanner()" class="welcome-card animated fadeInDown">
    <ion-card-header>
      <ion-card-title>Planner</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          Upcoming Appointments
        </ion-list-header>
        <ion-item-divider sticky=true *ngFor="let entry of plannerDates">
          <ion-label>
            {{entry.date}}
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let entry of appointments">
          <ion-label item-left>{{entry.time}}</ion-label>
          <ion-label item-left>{{entry.val}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

    <!--- Progress !--->
    <ion-card (click)="navigateMindfulness" class="welcome-card animated fadeInDown">
      <ion-card-header>
        <ion-card-title>Progress</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="/assets/icon/statusbob.png">
      </ion-card-content>
    </ion-card>
</ion-content>
